[imageholder] ::ng-deep img{
    width: 200px;
}
.logger {
    border: 1px solid #888;
    background-color: #eee;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    max-height: 222px;
    overflow-y: auto;
    position: relative;
}
.resources {
  text-align: center;
  margin-bottom: 20px;
  color: #551234;
    font-weight: bold;
}
.pick-points {
    margin: 16px 0;
    box-sizing: border-box;
    border: 2px groove #598ec3;
    display: block;
    width: 100%;
}
table{
    border: 1px solid #598ec3;
    border-collapse: separate;
    border-spacing: 0;
    width:100%;

    th {
        background-color: #598ec3;
        color: #fff;
        border-bottom: 1px solid #666;
    }

    td {
        color: #444;
        border: 1px solid #598ec3;
        padding: 1px 5px;
        vertical-align: top;

        ::ng-deep .off-screen {
            position: absolute;
            left: -999em;
        }

        ::ng-deep .rating {
            color: #f00;
        }

        ::ng-deep a {
            .fa {
                color: #f00;
                margin: 0 3px;
            }
        }
    }
}

